.fundo {
	background: url("../img/img-cabecalho.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.cabecalho {
	background-color: rgba(33,17,40, 0.9);
	width: 100%;
	height: 95vh;
}

.img-pessoal {
	width: 230px;
	height: 230px;
}

h1 {
	font-size: 1.9em;
	font-family: 'Kaushan Script', cursive;
	rotate(45deg);
}
.fontJogo {
	font-family: 'Space Mono', monospace;
	font-size: 1.1em;
}
.skil {
	font-family: 'Space Mono', monospace;
	font-size: 1.5em;
}
