
.main {
	display: none;
	max-width: 100%;
}
.animacao {
	width: 100%;
	height: 100vh;
	font-family: 'Space Mono', monospace;
}
.fundo {
	background: url("../img/img-cabecalho.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: bounceInUp 2s;
}
.cabecalho {
	background-color: rgba(14, 12, 37, 0.9);
	width: 100%;
	height: 95vh;
}

.img-pessoal {
	width: 230px;
	height: 230px;
	animation: bounceInDown 3s;
}

h1 {
	font-size: 1.9em;
	font-family: 'Kaushan Script', cursive;
	animation: bounceInLeft 3s;
}
.fontJogo {
	font-family: 'Space Mono', monospace;
	font-size: 1.1em;
	animation: bounceInRight 3s;
}
.skil {
	font-family: 'Space Mono', monospace;
	font-size: 1.8em;
}
.sobreMim {
	font-family: 'Space Mono', monospace;
	font-size: 1.5em;
}
.dados {
	font-family: 'Space Mono', monospace;
	font-size: 1em;
}
.barra {
	height: 10px;
}
.nav-link {
	animation: bounceInUp 3s;
}
.listaLinks {
	background-color: rgba(32, 74, 95, 0.9);
	font-size: 1.3em;
}
.iSass {
	background-color: #C14690;
}
.iBoot {
	background-color: #773AAD;
}
.iMongo {
	background-color: #308F43;
}

.fundo2 {
	background: url("../img/mascara.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.trabalho {
	background-color: rgba(14, 12, 37, 0.9);
}

.projetos {
	height: 350px;
	background: url("../img/projeto-cafeteria.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	
}
a {
	width: 100%;
	height: 100%;
	text-decoration: none !important;
}
.desc {
	display: none;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Space Mono', monospace;
	font-size: 1em;
	
}
.projetos:hover {
	animation: fadeIn 1s;
}
.projetos:hover .desc {
	display: block;
}