
.cabecalho {
	background-color:#281A4D;
	width: 100%;
	height: 95vh;
}

.img-pessoal {
	width: 200px;
	height: 200px;
}

h1 {
	font-size: 1.9em;
	font-family: 'Kaushan Script', cursive;
	rotate(45deg);
}
h2 {
	font-family: 'Space Mono', monospace;
	font-size: 1.1em;
}